<div class="card-body" id="jo_create_payroll">

<input type="text" class="hidden" id="regular_date_range" />
<input type="text" class="hidden" id="regular_id" name="regular_id" />
<input type="text" class="hidden" id="regular_name" name="regular_name" />


<div class="row">
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
               <label>Month</label>
               <select name="regular_month" id="regular_month" class="form-control" required>
                    <option value="0">Select Month</option>
                    <option value="1">January</option>
                    <option value="2">Februrary</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
               </select>
          </div>
     </div>
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
               <label>Year</label>
               <select name="regular_year" id="regular_year" class="form-control" required>
                    <option value="0">Select Year</option>
                    @for (int i = 2018; i <= DateTime.Now.Year; i++)
                    {
                         <option value="@i">@i</option>
                    }
               </select>
          </div>
     </div>
</div>
<!--HIDDEN-->
<div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>Monthly Rate</label>
                    <input type="text" name="regular_salary" id="regular_salary" class="form-control input-data" value="@Session["Salary"]" required readonly />
               </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>PERA</label>
                    <input type="text" class="form-control input-data" id="regular_pera" name="regular_pera" value="0.00" required>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>Working Days</label>
                    <input type="text" class="form-control input-data" id="regular_working_days" name="regular_working_days" value="0" required>
               </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>Minutes (Late/Undertime)</label>
                    <input type="text" id="regular_minutes_late" name="regular_minutes_late" class="form-control input-data" value="0" required />
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>Absent Days</label>
                    <input type="text" class="form-control" id="regular_absent_date" name="regular_absent_date" placeholder="Choose Date" readonly />
                    <input type="text" class="form-control hidden" id="regular_absent_date_list" name="regular_absent_date_list" />
               </div>
               <div class="form-group">
                    <table id="regular_date_list" name="regular_date_list" class="table table-hover"></table>
               </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>Deduction(Late/Undertime/Absent)</label>
                    <input type="text" class="form-control" id="regular_deduction" name="regular_deduction" value="0.00" readonly />
               </div>
          </div>
     </div>
     <div class="create_payroll_spinner hidden">
          <div class="cold-md-12">
               <center><img src="@Url.Content("~/Images/spin.gif")" width="150" style="padding:20px;"></center>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>Net Amount</label>
                    <input type="text" class="form-control" id="regular_net_amount" name="regular_net_amount" value="0.00" readonly />
               </div>
          </div>
     </div>
     <hr />
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                    <tr>
                         <td>
                              <div class="form-group">
                                   <label>Tax</label>
                                   <div class="input-group add-on">
                                        <input type="text" class="form-control input-data" id="regular_tax" name="regular_tax" value="0.00" required readonly />
                                        <div class="input-group-btn">
                                             <button class="btn btn-success" style="float:left;" id="edit_tax" value="tax" type="button"><i id="tax_icon" class="fas fa-pencil-alt"></i></button>
                                        </div>
                                   </div>
                              </div>
                         </td>
                    </tr>
               </table>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>
                                   CFI
                               </label>
                           </th>
                           <th>
                               <label>
                                   No. Payment
                               </label>
                           </th>
                           <th>
                               <label>
                                   No. Paid
                               </label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_cfi" name="regular_cfi" readonly required />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_cfi_payment" name="regular_cfi_payment" readonly required />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_cfi_paid" name="regular_cfi_paid" readonly required />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_cfi" type="button" value="cfi"><i id="cfi_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
     <hr />
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>GSIS - Premium</label>
                    <input type="text" class="form-control input-data" id="regular_gsis_premium" name="regular_gsis_premium" value="0.00" required readonly />
               </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>GSIS - Consoloan</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_gsis_consoloan" name="regular_gsis_consoloan" readonly required />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_gsis_consoloan_payment" name="regular_gsis_consoloan_payment" readonly required />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_gsis_consoloan_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_gsis_consoloan" type="button" value="gsis_consoloan"><i id="gsis_consoloan_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>GSIS - Policy Loan</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_gsis_policyloan" name="regular_gsis_policyloan" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_gsis_policyloan_payment" name="regular_gsis_policyloan_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_gsis_policyloan_paid" name="regular_gsis_policyloan_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_gsis_policyloan" value="gsis_policyloan" type="button"><i id="gsis_policyloan_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>GSIS - EML</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_gsis_eml" name="regular_gsis_eml" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_gsis_eml_payment" name="regular_gsis_eml_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_gsis_eml_paid" name="regular_gsis_eml_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_gsis_eml" value="gsis_eml" type="button"><i id="gsis_eml_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>GSIS - UOLI</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_gsis_uoli" name="regular_gsis_uoli" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_gsis_uoli_payment" name="regular_gsis_uoli_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_gsis_uoli_paid" name="regular_gsis_uoli_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_gsis_uoli" value="gsis_uoli" type="button"><i id="gsis_uoli_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>GSIS - EDU ASST</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_gsis_edu" name="regular_gsis_edu" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_gsis_edu_payment" name="regular_gsis_edu_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_gsis_edu_paid" name="regular_gsis_edu_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_gsis_edu" value="gsis_edu" type="button"><i id="gsis_edu_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>GSIS - HELP</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_gsis_help" name="regular_gsis_help" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_gsis_help_payment" name="regular_gsis_help_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_gsis_help_paid" name="regular_gsis_help_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_gsis_help" value="gsis_help" type="button"><i id="gsis_help_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>REL</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_gsis_rel" name="regular_gsis_rel" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_gsis_rel_payment" name="regular_gsis_rel_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_gsis_rel_paid" name="regular_gsis_rel_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_rel" value="gsis_rel" type="button"><i id="gsis_rel_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <div class="form-group">
                    <label>Pagibig - Premium</label>
                    <input type="text" class="form-control input-data" id="regular_pagibig_premium" name="regular_pagibig_premium" value="0.00" required />
               </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>Pagibig - Loan</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_pagibig_loan" name="regular_pagibig_loan" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_pagibig_loan_payment" name="regular_pagibig_loan_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_pagibig_loan_paid" name="regular_pagibig_loan_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_pagibig_loan" value="pagibig_loan" type="button"><i id="pagibig_loan_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
     <div class="row">
         <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
             <table>
                 <thead>
                     <tr>
                         <th>
                             <label>Pagibig - MP2</label>
                         </th>
                         <th>
                             <label>No. Payment</label>
                         </th>
                         <th>
                             <label>No. Paid</label>
                         </th>
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td class="td-0">
                             <div class="form-group">
                                 <input type="text" class="form-control input-data" id="regular_pagibig_mp2" name="regular_pagibig_mp2" required readonly />
                             </div>
                         </td>
                         <td class="td-0">
                             <div class="form-group">
                                 <input type="text" class="form-control" id="regular_pagibig_mp2_payment" name="regular_pagibig_mp2_payment" required readonly />
                             </div>
                         </td>
                         <td class="td-0">
                             <div class="form-group">
                                 <div class="input-group add-on">
                                     <input type="text" class="form-control input-data" id="regular_pagibig_mp2_paid" name="regular_pagibig_mp2_paid" required readonly />
                                     <div class="input-group-btn">
                                         <button class="btn btn-success" id="edit_pagibig_mp2" value="pagibig_mp2" type="button"><i id="pagibig_mp2_icon" class="fas fa-pencil-alt"></i></button>
                                     </div>
                                 </div>
                             </div>
                         </td>
                     </tr>
                 </tbody>
             </table>
         </div>
         <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
             <table>
                 <tbody>
                     <tr>
                         <th>
                             <label>Pagibig Calamity</label>
                         </th>
                         <th>
                             <label>No. Payment</label>
                         </th>
                         <th>
                             <label>No. Paid</label>
                         </th>
                     </tr>
                 </tbody>
                 <tr>
                     <td class="td-0">
                         <div class="form-group">
                             <input type="text" class="form-control input-data" id="regular_pagibig_calamity" name="regular_pagibig_calamity" required readonly />
                         </div>
                     </td>
                     <td class="td-0">
                         <div class="form-group">
                             <input type="text" class="form-control" id="regular_pagibig_calamity_payment" name="regular_pagibig_calamity_payment" required readonly />
                         </div>
                     </td>
                     <td class="td-0">
                         <div class="form-group">
                             <div class="input-group add-on">
                                 <input type="text" class="form-control input-data" id="regular_pagibig_calamity_paid" name="regular_pagibig_calamity_paid" required readonly />
                                 <div class="input-group-btn">
                                     <button class="btn btn-success" id="edit_pagibig_calamity" value="pagibig_calamity" type="button"><i id="pagibig_calamity_icon" class="fas fa-pencil-alt"></i></button>
                                 </div>
                             </div>
                         </div>
                     </td>
                 </tr>
             </table>
         </div>
     </div>
     <div class="row">
         <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
             <div class="form-group">
                 <label>Philhealth</label>
                 <input type="text" class="form-control input-data" id="regular_philhealth" name="regular_philhealth" value="0.00" required />
             </div>
         </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>SIMC</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_simc" name="regular_simc" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_simc_payment" name="regular_simc_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_simc_paid" name="regular_simc_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_simc" value="simc" type="button"><i id="simc_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>HWMPC</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_coop" name="regular_coop" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_coop_payment" name="regular_coop_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_coop_paid" name="regular_coop_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_coop" value="coop" type="button"><i id="coop_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>DBP</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_dbp" name="regular_dbp" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_dbp_payment" name="regular_dbp_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_dbp_paid" name="regular_dbp_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_dbp" value="dbp" type="button"><i id="dbp_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
               <table>
                   <thead>
                       <tr>
                           <th>
                               <label>Disallowances</label>
                           </th>
                           <th>
                               <label>No. Payment</label>
                           </th>
                           <th>
                               <label>No. Paid</label>
                           </th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control input-data" id="regular_disallowance" name="regular_disallowance" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <input type="text" class="form-control" id="regular_disallowance_payment" name="regular_disallowance_payment" required readonly />
                               </div>
                           </td>
                           <td class="td-0">
                               <div class="form-group">
                                   <div class="input-group add-on">
                                       <input type="text" class="form-control input-data" id="regular_disallowance_paid" name="regular_disallowance_paid" required readonly />
                                       <div class="input-group-btn">
                                           <button class="btn btn-success" id="edit_disallowance" value="disallowance" type="button"><i id="disallowance_icon" class="fas fa-pencil-alt"></i></button>
                                       </div>
                                   </div>
                               </div>
                           </td>
                       </tr>
                   </tbody>
               </table>
          </div>
     </div>
</div>
<div class="row">
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
               <label>Total Deductions</label>
               <input type="text" class="form-control input-data" id="regular_total_deductions" name="regular_total_deductions" value="0.00" required readonly />
          </div>
     </div>
     <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
          <div class="form-group">
               <label>Net Pay</label>
               <input type="text" class="form-control input-data" id="regular_total_amount" name="regular_total_amount" value="0.00" required readonly />
          </div>
     </div>
</div>
<div class="row">
     <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
          <button type="button" class="btn btn-primary form-control" id="regular_save" value="Save">Save</button>
     </div>
</div>
 </div>
<script>
    $(document).ready(function () {
        $('.remove_regular_payroll').click(function () {
            $('#regular_payroll_container').addClass("hide");
        });

        $('.remove_regular_payroll_list').click(function () {
            $('#box_regular_payroll_list').addClass("hide");
        });

        $().change(function () {
        });

        $("#regular_save").click(function () {
            var choosen_month = $("#regular_month").val();
            var choosen_year = $("#regular_year").val();
            if (choosen_month <= 9) choosen_month = "0" + choosen_month;

            if (choosen_month == "00" && choosen_year == "0") {
                alert("Please specify the dates");
                return;
            }

            var userid = $("#regular_id").val();
            var fullname = $("#regular_name").val();
            var month = $("#regular_month").val();
            var year = $("#regular_year").val();
            var salary = $("#regular_salary").val();
            var pera = $("#regular_pera").val();
            var working_days = $("#regular_working_days").val();
            var minutes_late = $("#regular_minutes_late").val();
            var absent_date_list = $("#regular_absent_date_list").val();

            var tax = $("#regular_tax").val();
            var cfi = $("#regular_cfi").val();
            var gsis_premium = $("#regular_gsis_premium").val();
            var gsis_consoloan = $("#regular_gsis_consoloan").val();
            var gsis_policyloan= $("#regular_gsis_policyloan").val();
            var gsis_eml = $("#regular_gsis_eml").val();
            var gsis_uoli = $("#regular_gsis_uoli").val();
            var gsis_edu = $("#regular_gsis_edu").val();
            var gsis_help = $("#regular_gsis_help").val();
            var gsis_rel = $("#regular_gsis_rel").val();
            var pagibig_premium = $("#regular_pagibig_premium").val();
            var pagibig_loan = $("#regular_pagibig_loan").val();
            var pagibig_mp2 = $("#regular_pagibig_mp2").val();
            var pagibig_calamity = $("#regular_pagibig_calamity").val();
            var philhealth = $("#regular_philhealth").val();
            var simc = $("#regular_simc").val();
            var hwmpc = $("#regular_coop").val();
            var dbp = $("#regular_dbp").val();
            var disallowance = $("#regular_disallowance").val();

            insert_payroll(userid,fullname, month, year, salary, pera, working_days, minutes_late, absent_date_list, tax, cfi, gsis_premium, gsis_consoloan, gsis_policyloan, gsis_eml,
                            gsis_uoli, gsis_edu, gsis_help, gsis_rel, pagibig_premium, pagibig_loan, pagibig_mp2, pagibig_calamity, philhealth, simc, hwmpc, dbp, disallowance)
            
        });

        $("#edit_cfi,#edit_gsis_consoloan,#edit_gsis_policyloan,#edit_gsis_eml,#edit_gsis_uoli,#edit_gsis_edu,#edit_gsis_help,#edit_rel,#edit_pagibig_loan,#edit_pagibig_mp2,#edit_simc,#edit_coop,#edit_dbp,#edit_disallowance,#edit_pagibig_calamity").click(function () {

            var type = $(this).val();

            var icon = $("#" + type + "_icon");

            if (icon.hasClass("fa-pencil-alt")) {

                //setEnableDeductions(type,false);
                $("#regular_" + type + "").attr("readonly", false);
                $("#regular_" + type + "_payment").attr("readonly", false);
                $("#regular_" + type + "_paid").attr("readonly", false);
                    

                $("#" + type + "_icon").removeClass("fa-pencil-alt");
                $("#" + type + "_icon").addClass("far fa-check-square");
                return;

            }

            if (icon.hasClass("far fa-check-square") || icon.hasClass("fas fa-redo")) {

                var url = "@Url.Action("UpdateRemittance", "Home")";
                var amount = $("#regular_" + type + "").val().replace(/,/g, '');
                var payment = $("#regular_" + type + "_payment").val().replace(/,/g, '');
                var paid = $("#regular_" + type + "_paid").val().replace(/,/g, '');
                var emp_id = $("#regular_id").val();

                $("#" + type + "_icon").removeClass("far fa-check-square");
                $("#" + type + "_icon").removeClass("fas fa-redo");
                $("#" + type + "_icon").addClass("fa fa-spinner fa-spin");

                $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            table: type+"_remittance",
                            ID: 1,
                            UserID: emp_id,
                            MaxCount: payment,
                            Count: paid,
                            Amount:amount
                        },
                        success: function (flag) {
                            if (flag) {
                                $.toast({
                                    heading: 'Success',
                                    text: type.toUpperCase()+' updated successfully',
                                    icon: 'success'
                                });

                                $("#regular_" + type + "").attr("readonly", true);
                                $("#regular_" + type + "_payment").attr("readonly", true);
                                $("#regular_" + type + "_paid").attr("readonly", true);

                                $("#edit_" + type + "").removeClass("btn-danger");
                                $("#edit_" + type + "").addClass("btn-success");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("fa-pencil-alt");
                            } else {
                                $.toast({
                                    heading: 'Error',
                                    text: 'Something went wrong, please try again.',
                                    icon: 'success'
                                });
                                $("#edit_" + type + "").removeClass("btn-success");
                                $("#edit_" + type + "").addClass("btn-danger");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("fas fa-redo");
                            }
                        }
                });
                return;
            }
        });

        $("#edit_tax").click(function () {

            var type = $(this).val();

            var icon = $("#" + type + "_icon");

            if (icon.hasClass("fa-pencil-alt")) {

                $("#regular_" + type + "").attr("readonly", false);

                $("#" + type + "_icon").removeClass("fa-pencil-alt");
                $("#" + type + "_icon").addClass("far fa-check-square");
                return;

            }

            if (icon.hasClass("far fa-check-square") || icon.hasClass("fas fa-redo")) {

                var url = "@Url.Action("UpdateTax", "Home")";
                var amount = $("#regular_" + type + "").val().replace(/,/g, '');
                var emp_id = $("#regular_id").val();

                $("#" + type + "_icon").removeClass("far fa-check-square");
                $("#" + type + "_icon").removeClass("fas fa-redo");
                $("#" + type + "_icon").addClass("fa fa-spinner fa-spin");

                $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            UserID: emp_id,
                            Amount:amount
                        },
                        success: function (flag) {
                            if (flag) {
                                $.toast({
                                    heading: 'Success',
                                    text: type.toUpperCase()+' updated successfully',
                                    icon: 'success'
                                });

                                $("#regular_" + type + "").attr("readonly", true);

                                $("#edit_" + type + "").removeClass("btn-danger");
                                $("#edit_" + type + "").addClass("btn-success");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("fa-pencil-alt");
                            } else {
                                $.toast({
                                    heading: 'Error',
                                    text: 'Something went wrong, please try again.',
                                    icon: 'success'
                                });
                                $("#edit_" + type + "").removeClass("btn-success");
                                $("#edit_" + type + "").addClass("btn-danger");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("fas fa-redo");
                            }
                        }
                });
                return;
            }
        });

        $("#regular_month, #regular_year").change(function () {
            var choosen_month = $("#regular_month").val();
            var choosen_year = $("#regular_year").val();
            if (choosen_month <= 9) choosen_month = "0" + choosen_month;

            if (choosen_month != "00" && choosen_year != "0") {
                var id = $("#regular_id").val();
                var from = choosen_year + "-" + choosen_month + "-01";
                var to = choosen_year + "-" + choosen_month + "-" + daysInMonth(parseInt(choosen_month), choosen_year);

                $("#regular_date_range").val(choosen_month + "/01/" + choosen_year + "-" + choosen_month + "/" + daysInMonth(parseInt(choosen_month), choosen_year) + "/" + choosen_year);
                getLateAndAbsences(id, from, to);
            }

        });

        $("#regular_working_days, #regular_minutes_late").change(function () {
            ComputeDeductions("Permanent");
        });

        $("#regular_pera,#regular_tax,#regular_cfi,#regular_gsis_premium,#regular_gsis_consoloan,#regular_gsis_policyloan,#regular_gsis_eml,#regular_gsis_uoli,#regular_gsis_edu,#regular_gsis_help,#regular_rel,#regular_pagibig_premium").change(function () {
            $(this).val(formatComma(roundOff($(this).val())));
            ComputeDeductions("Permanent");
            ComputeTotalNetPay("Permanent");
        });

        $("#regular_absent_date").datepicker().change(function () {

            var choosen_date = $("#regular_absent_date").val();

            var array_date = ($("#regular_absent_date_list").val().length === 0) ? [] : $("#regular_absent_date_list").val().split(',');


            var item = parseInt(choosen_date.split('/')[0]) + "/" + parseInt(choosen_date.split('/')[1]) + "/" + parseInt(choosen_date.split('/')[2]);

            var tr_id = $("#regular_date_list").children().length;

            var date_item = "<tr class = 'row-data'><td>";
            date_item += item;
            date_item += "</td><td><span class = 'fas fa-times remove-date' id='" + tr_id + "' value = '"+tr_id+"' style = 'color:red;cursor:pointer;' ></span></td></tr>";

            array_date.push(item);

            $("#regular_date_list").append(date_item);
            $("#regular_absent_date_list").val(array_date);
            $("#regular_absent_date").val("");

            ComputeDeductions("Permanent");
            ComputeTotalNetPay("Permanent");
        });

        $(".row-data").on("click", ".remove-date", function () {
            alert("ASDSDADSADSD");
        });
    });
   
</script>