<div class="panel panel-default">
     <div class="panel-body">
          <div class="row" style="margin-top:2em;">
               <div class="col-md-6">
                    <ul class="nav nav-tabs">
                         <li><a href="#hazard_tab" data-toggle="tab">Hazard</a></li>
                         <li><a href="#rata_tab" data-toggle="tab">RATA</a></li>
                         <li><a href="#cellphone_tab" data-toggle="tab">Cellphone Allowance</a></li>
                         <li><a href="#longevity_tab" data-toggle="tab">Longevity</a></li>
                         <li><a href="#subsistence_tab" data-toggle="tab">Subsistence</a></li>
                    </ul>
                    <div class="tab-content" id="tabs">
                         
                         <div class="tab-pane fade" id="hazard_tab">
                              @Html.Partial("../PartialView/Tabs/_HazardTabs");
                         </div>
                         <div class="tab-pane fade" id="rata_tab">
                              @Html.Partial("../PartialView/Tabs/_RataTabs");
                         </div>
                         <div class="tab-pane fade" id="cellphone_tab">
                              @Html.Partial("../PartialView/Tabs/_CellphoneTabs");
                         </div>
                         <div class="tab-pane fade" id="longevity_tab">
                              @Html.Partial("../PartialView/Tabs/_LongevityTabs");
                         </div>
                         <div class="tab-pane fade" id="subsistence_tab">
                              @Html.Partial("../PartialView/Tabs/_SubsistenceTabs");
                         </div>
                    </div>
               </div>
               <div class="col-md-6">
                    THIS ARE LIST!!!
               </div>
          </div>
     </div>
</div>
     <script>
    $(document).ready(function() {

    activaTab('hazard_tab');

    function activaTab(tab) {
         
         $('.nav-tabs a[href="#' + tab + '"]').tab('show');
         alert("TIDIRT");
    };
});
     </script>
