@model PagedList.IPagedList<PayrollSystem.Models.RegularPayrollModel>
@using PagedList.Mvc;

<table class="table table-striped table-bordered">
    <tr>
        <th>ID NO</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>MONTH</th>
        <th>YEAR</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.Firstname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee.Lastname)
    </td>
    <td>
        @item.MonthFormat()
    </td>
    <td class="hidden">
        @Html.DisplayFor(modelItem => item.Month)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Year)
    </td>
    <td class="hidden">
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td class="hidden" id="regular_monthly_rate">
        @Html.DisplayFor(modelItem => item.Salary)
    </td>
    <td class="hidden" id="regular_pera">
        @Html.DisplayFor(modelItem => item.Pera)
    </td>
    <td class="hidden" id="regular_working_days">
        @Html.DisplayFor(modelItem => item.WorkDays)
    </td>
    <td class="hidden" id="regular_minutes_late">
        @Html.DisplayFor(modelItem => item.MinutesLate)
    </td>
    <td class="hidden" id="regular_absent_days">
        @Html.DisplayFor(modelItem => item.DaysAbsent)
    </td>
    <td class="hidden" id="regular_tax">
        @Html.DisplayFor(modelItem => item.Tax)
    </td>
    <td class="hidden" id="regular_gsis_premium">
        @Html.DisplayFor(modelItem => item.GSIS_Premium)
    </td>
    <td class="hidden" id="regular_gsis_policy_loan">
        @Html.DisplayFor(modelItem => item.GSIS_PolicyLoan)
    </td>
    <td class="hidden" id="regular_gsis_UOLI">
        @Html.DisplayFor(modelItem => item.GSIS_UOLI)
    </td>
    <td class="hidden" id="regular_gsis_help">
        @Html.DisplayFor(modelItem => item.GSIS_Help)
    </td>
    <td class="hidden" id="regular_gsis_consoloan">
        @Html.DisplayFor(modelItem => item.GSIS_Consoloan)
    </td>
    <td class="hidden" id="regular_gsis_eml">
        @Html.DisplayFor(modelItem => item.GSIS_EML)
    </td>
    <td class="hidden" id="regular_gsis_edu">
        @Html.DisplayFor(modelItem => item.GSIS_EDU)
    </td>
    <td class="hidden" id="regular_gsis_rel">
        @Html.DisplayFor(modelItem => item.GSIS_REL)
    </td>
    <td class="hidden" id="regular_pagibig_premium">
        @Html.DisplayFor(modelItem => item.Pagibig_Premium)
    </td>
    <td class="hidden" id="regular_pagibig_mp2">
        @Html.DisplayFor(modelItem => item.MP2)
    </td>
    <td class="hidden" id="regular_pagibig_loan">
        @Html.DisplayFor(modelItem => item.Pagibig_Loan)
    </td>
    <td class="hidden" id="regular_pagibig_calamity">
        @Html.DisplayFor(modelItem => item.Calamity)
    </td>
    <td class="hidden" id="regular_phic">
        @Html.DisplayFor(modelItem => item.PhilHealth)
    </td>
    <td class="hidden" id="regular_simc">
        @Html.DisplayFor(modelItem => item.SIMC)
    </td>
    <td class="hidden" id="regular_dbp">
        @Html.DisplayFor(modelItem => item.DBP)
    </td>
    <td class="hidden" id="regular_hwmpc">
        @Html.DisplayFor(modelItem => item.HWMPC)
    </td>
    <td class="hidden" id="regular_disallowance">
        @Html.DisplayFor(modelItem => item.Disallowances)
    </td>
    <td>
        @using (Html.BeginForm("CreateRegularPayslip", "Report", FormMethod.Post))
        {
            <input type="hidden" name="fullname" id="fullname" value="@(item.Employee.Firstname+" "+item.Employee.Middlename+" "+item.Employee.Lastname)" />
            <input type="hidden" name="designation" value="@item.Employee.Designation" />
            <input type="hidden" name="month" value="@item.Month" />
            <input type="hidden" name="year" value="@item.Year" />
            <button type="button" class="btn btn-xs btn-danger remove-regular-payroll-list" value="@item.Id"><i class="fas fa-trash-alt"></i></button>
            <button type="button" class="btn btn-xs btn-success edit-regular-payroll-list" value="@item.Id"><i class="fas fa-pencil-alt"></i></button>
            <button type="submit" name="id" id="emp_id" formtarget="_blank" class="btn btn-xs btn-primary td-button @item.Id" value="@item.Employee.ID"><i class="fas fa-book"></i></button>
        }
    </td>
</tr>
    }
</table>
<div class="box-footer-regular-payroll-list">
     Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

     @Html.PagedListPager(Model, page => Url.Action("Index",
 new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>

<script>
    $(document).ready(function () {
        $('.edit-regular-payroll-list').click(function (e) {
            e.preventDefault();
            e.stopImmediatePropagation();
            UpdatePayrollById($(this).val());
        })

        $(".remove-regular-payroll-list").click(function () {

            var empID = $(this).closest('tr').find('td:eq(0)').text().trim();
            var firstname = $(this).closest('tr').find('td:eq(1)').text().trim();
            var lastname = $(this).closest('tr').find('td:eq(3)').text().trim();

            deletePayrollByID($(this).val(),empID,firstname,lastname);
        });

        $("body").on("click", ".box-footer-regular-payroll-list li", function (e) {
                e.preventDefault();

                var page = $(this).text();
                if (page === "»") page = @Model.PageCount;
                if (page === "«") page = 1;

                var empID = $("#emp_id").val();
                var firstname = $("#fullname").val().split(" ")[0];
                var lastname = $("#fullname").val().split(" ")[2];

                loadRegularPayrollList(page, empID, firstname, lastname);
        });
    });

    function UpdatePayrollById(id) {
        var url = '@Url.Action("GetRegularPayroll","PartialView")';

        $.ajax({
            url: url,
            type: 'POST',
            async: true,
            data: {
                'id' : id
            },
            success: function (output) {
                console.log(output.DaysAbsent);

                $('#regular_month').val(output.Month);
                $("#regular_month").prop('disabled', true);
                $('#regular_year').val(output.Year);
                $("#regular_year").prop('disabled', true);
                var absent_days = output.DaysAbsent;

                $('#regular_pera').val(output.Pera);
                $('#regular_working_days').val(output.WorkDays);
                $('#regular_minutes_late').val(output.MinutesLate);
                $('#regular_tax').val(output.Tax);
                $('#regular_cfi').val(output.CFI);
                $('#regular_gsis_premium').val(output.GSIS_Premium);
                $('#regular_gsis_consoloan').val(output.GSIS_Consoloan);
                $('#regular_gsis_policyloan').val(output.GSIS_PolicyLoan);
                $('#regular_gsis_eml').val(output.GSIS_EML);
                $('#regular_gsis_uoli').val(output.GSIS_UOLI);
                $('#regular_gsis_edu').val(output.GSIS_EDU);
                $('#regular_gsis_help').val(output.GSIS_Help);
                $('#regular_gsis_rel').val(output.GSIS_REL);
                $('#regular_pagibig_premium').val(output.Pagibig_Premium);
                $('#regular_pagibig_loan').val(output.Pagibig_Loan);
                $('#regular_pagibig_mp2').val(output.MP2);
                $('#regular_pagibig_calamity').val(output.Calamity);
                $('#regular_philhealth').val(output.PhilHealth);
                $('#regular_simc').val(output.SIMC);
                $('#regular_coop').val(output.HWMPC);
                $('#regular_dbp').val(output.DBP);
                $('#regular_disallowance').val(output.Disallowances);

                var array_date = [];

                $("#regular_date_list").empty();
                $("#regular_absent_date_list").val("");

                for (var i = 0; i < absent_days.split(",").length; i++) {
                    var item = absent_days.split(",")[i];
                    if (item !== "") {
                        var date_item = "<tr><td>";
                        date_item += item;
                        date_item += "</td><td><span class = 'fas fa-times' style = 'color:red;cursor:pointer;' id='" + i + "' onclick='removeDateItem( " + i + " )'></span></td>";

                        array_date.push(item);

                        $("#regular_date_list").append(date_item);
                        $("#regular_absent_date_list").val(array_date);
                        $('#regular_absent_date').val("");
                    }
                }

                ComputeDeductions("Permanent");
                ComputeTotalNetPay("Permanent");

                $('#regular_save').text('Update');
            }
        })
    }
</script>

