@model PagedList.IPagedList<PayrollSystem.Models.RegularModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
     ViewBag.Title = ViewBag.Action;
}
<style>
   .box {
        border-radius: 0px;
   }
</style>
<h3 class="text-default">Regular - ATM</h3>
<div class="box-tools pull-right">
     <!-- Buttons, labels, and many other things can be placed here! -->
     <!-- Here is a label for example -->
     <span><i class="glyphicon glyphicon-user"></i></span>
</div>
<div class="box box box-default">

     <div class="navbar-form">
          <div class="input-group add-on">
               <input class="form-control" placeholder="Search" name="search" id="regular_search" type="text">
               <div class="input-group-btn">
                    <button class="btn btn-default regular_search" type="button"><i class="glyphicon glyphicon-search"></i></button>
               </div>
          </div>
     </div>
     <div class="box-body regular-employee-list">

     </div>
</div>

<div class="row">
     <div class="col-md-7">
          <div class="box box box-default hide" id="box_create_payroll">
               <div class="box-header with-border">
                    <h1 class="box-title"><b>Create Payroll</b></h1>
                    <div class="box-tools pull-right">                         
                         <button class="btn btn-xs btn-danger remove_regular_payroll"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
               </div>
               @Html.Partial("Partial/_RegularFormPartial")
          </div>
     </div>
     <div class="col-md-5">
          <div class="box box box-default hide" id="box_regular_payroll_list">
               <div class="box-header with-border">
                    <h1 class="box-title"><b>Payroll List</b></h1>
                    <div class="box-tools pull-right">
                         <button class="btn btn-xs btn-danger remove_regular_payroll_list"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
               </div>
               <div class="box-body">
                    <div class="parent-payroll-list">

                    </div>
               </div>
          </div>
     </div>
</div>
<!-- REGULAR BENEFITS --->
<div class="row">
     <div class="col-md-6">
          
     </div>
     <div class="col-md-6">

     </div>
</div>

@section scripts{
     <script>
          $(document).ready(function () {
            loadRegularEmployee(1, "");

            $(".regular_search").click(function () {
                var search_value = $("#regular_search").val();
                loadRegularEmployee(1, search_value);
            });

            $('.remove_regular_payroll').click(function () {
                $('#box_create_payroll').addClass("hide");
            });

            $('.remove_regular_payroll_list').click(function () {
                $('#box_regular_payroll_list').addClass("hide");
            });


            $("#regular_save").click(function () {
                var choosen_month = $("#regular_month").val();
                var choosen_year = $("#regular_year").val();
                if (choosen_month <= 9) choosen_month = "0" + choosen_month;

                if (choosen_month == "00" && choosen_year == "0") {
                    alert("Please specify the dates");
                    return;
                }

                var userid = $("#regular_id").val();
                var fullname = $("#regular_name").val();
                var month = $("#regular_month").val();
                var year = $("#regular_year").val();
                var salary = $("#regular_salary").val();
                var pera = $("#regular_pera").val();
                var working_days = $("#regular_working_days").val();
                var minutes_late = $("#regular_minutes_late").val();
                var absent_date_list = $("#regular_absent_date_list").val();

                var tax = $("#regular_tax").val();
                var cfi = $("#regular_cfi").val();
                var gsis_premium = $("#regular_gsis_premium").val();
                var gsis_consoloan = $("#regular_gsis_consoloan").val();
                var gsis_policyloan= $("#regular_gsis_policyloan").val();
                var gsis_eml = $("#regular_gsis_eml").val();
                var gsis_uoli = $("#regular_gsis_uoli").val();
                var gsis_edu = $("#regular_gsis_edu").val();
                var gsis_help = $("#regular_gsis_help").val();
                var gsis_rel = $("#regular_gsis_rel").val();
                var pagibig_premium = $("#regular_pagibig_premium").val();
                var pagibig_loan = $("#regular_pagibig_loan").val();
                var pagibig_mp2 = $("#regular_pagibig_mp2").val();
                var philhealth = $("#regular_philhealth").val();
                var simc = $("#regular_simc").val();
                var hwmpc = $("#regular_coop").val();
                var dbp = $("#regular_dbp").val();
                var disallowance = $("#regular_disallowance").val();

                var url = "@Url.Action("InsertRegularPayroll", "Home")";
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        userid: userid,
                        month: month,
                        year: year,
                        salary: removeComma(salary),
                        pera: removeComma(pera),
                        working_days: working_days,
                        minutes_late: minutes_late,
                        absent_date_list: absent_date_list,
                        tax: removeComma(tax),
                        cfi: removeComma(cfi),
                        gsis_premium: removeComma(gsis_premium),
                        gsis_consoloan: removeComma(gsis_consoloan),
                        gsis_policyloan: removeComma(gsis_policyloan),
                        gsis_eml: removeComma(gsis_eml),
                        gsis_uoli: removeComma(gsis_uoli),
                        gsis_edu: removeComma(gsis_edu),
                        gsis_help: removeComma(gsis_help),
                        gsis_rel: removeComma(gsis_rel),
                        pagibig_premium: removeComma(pagibig_premium),
                        pagibig_loan: removeComma(pagibig_loan),
                        pagibig_mp2: removeComma(pagibig_mp2),
                        philhealth: removeComma(philhealth),
                        simc: removeComma(simc),
                        hwmpc: removeComma(hwmpc),
                        dbp: removeComma(dbp),
                        disallowance: removeComma(disallowance)
                    },
                    success: function (flag) {
                        $.toast({
                            heading: 'Success',
                            text: 'New payroll added',
                            icon: 'success'
                        });
                        clearRegularForm();
                        var firstname = fullname.split(" ")[0];
                        var middlename = fullname.split(" ")[1];
                        var lastname = fullname.split(" ")[2];
                        loadRegularPayrollList(userid, firstname, lastname, middlename);
                    }
                });

            });

            $("#edit_cfi,#edit_gsis_consoloan,#edit_gsis_policyloan,#edit_gsis_eml,#edit_gsis_uoli,#edit_gsis_edu,#edit_gsis_help,#edit_rel,#edit_pagibig_loan,#edit_pagibig_mp2,#edit_simc,#edit_coop,#edit_dbp,#edit_disallowance").click(function () {

                var type = $(this).val();

                var icon = $("#" + type + "_icon");

                if (icon.hasClass("glyphicon-pencil")) {

                    setEnableDeductions(type,false);

                    $("#" + type + "_icon").removeClass("glyphicon-pencil");
                    $("#" + type + "_icon").addClass("glyphicon-check");
                    return;

                }

                if (icon.hasClass("glyphicon-check") || icon.hasClass("glyphicon-repeat")) {

                    var url = "@Url.Action("UpdateRemittance", "Home")";
                    var amount = $("#regular_" + type + "").val().replace(/,/g, '');
                    var payment = $("#regular_" + type + "_payment").val().replace(/,/g, '');
                    var paid = $("#regular_" + type + "_paid").val().replace(/,/g, '');
                    var emp_id = $("#regular_id").val();

                    $("#" + type + "_icon").removeClass("glyphicon-check");
                    $("#" + type + "_icon").removeClass("glyphicon-repeat");
                    $("#" + type + "_icon").addClass("fa fa-spinner fa-spin");

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            table: type+"_remittance",
                            ID: 1,
                            UserID: emp_id,
                            MaxCount: payment,
                            Count: paid,
                            Amount:amount
                        },
                        success: function (flag) {
                            if (flag) {
                                $.toast({
                                    heading: 'Success',
                                    text: type.toUpperCase()+' updated successfully',
                                    icon: 'success'
                                });

                                setEnableDeductions(type, true);

                                $("#edit_" + type + "").removeClass("btn-danger");
                                $("#edit_" + type + "").addClass("btn-success");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("glyphicon-pencil");
                            } else {
                                $.toast({
                                    heading: 'Error',
                                    text: 'Something went wrong, please try again.',
                                    icon: 'success'
                                });
                                $("#edit_" + type + "").removeClass("btn-success");
                                $("#edit_" + type + "").addClass("btn-danger");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("glyphicon-repeat");
                            }
                        }
                    });
                    return;
                }
            });

            $("#edit_tax").click(function () {

                var type = $(this).val();

                var icon = $("#" + type + "_icon");

                if (icon.hasClass("glyphicon-pencil")) {

                    $("#regular_" + type + "").attr("readonly", false);

                    $("#" + type + "_icon").removeClass("glyphicon-pencil");
                    $("#" + type + "_icon").addClass("glyphicon-check");
                    return;

                }

                if (icon.hasClass("glyphicon-check") || icon.hasClass("glyphicon-repeat")) {

                    var url = "@Url.Action("UpdateTax", "Home")";
                    var amount = $("#regular_" + type + "").val().replace(/,/g, '');
                    var emp_id = $("#regular_id").val();

                    $("#" + type + "_icon").removeClass("glyphicon-check");
                    $("#" + type + "_icon").removeClass("glyphicon-repeat");
                    $("#" + type + "_icon").addClass("fa fa-spinner fa-spin");

                    $.ajax({
                        url: url,
                        type: "POST",
                        data: {
                            UserID: emp_id,
                            Amount:amount
                        },
                        success: function (flag) {
                            if (flag) {
                                $.toast({
                                    heading: 'Success',
                                    text: type.toUpperCase()+' updated successfully',
                                    icon: 'success'
                                });

                                $("#regular_" + type + "").attr("readonly", true);

                                $("#edit_" + type + "").removeClass("btn-danger");
                                $("#edit_" + type + "").addClass("btn-success");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("glyphicon-pencil");
                            } else {
                                $.toast({
                                    heading: 'Error',
                                    text: 'Something went wrong, please try again.',
                                    icon: 'success'
                                });
                                $("#edit_" + type + "").removeClass("btn-success");
                                $("#edit_" + type + "").addClass("btn-danger");

                                $("#" + type + "_icon").removeClass("fa fa-spinner fa-spin");
                                $("#" + type + "_icon").addClass("glyphicon-repeat");
                            }
                        }
                    });
                    return;
                }
            });

            $("#regular_month, #regular_year").change(function () {
                var choosen_month = $("#regular_month").val();
                var choosen_year = $("#regular_year").val();
                if (choosen_month <= 9) choosen_month = "0" + choosen_month;

                if (choosen_month != "00" && choosen_year != "0") {
                    var id = $("#regular_id").val();
                    var from = choosen_year + "-" + choosen_month + "-01";
                    var to = choosen_year + "-" + choosen_month + "-" + daysInMonth(parseInt(choosen_month), choosen_year);

                    $("#regular_date_range").val(choosen_month + "/01/" + choosen_year + "-" + choosen_month + "/" + daysInMonth(parseInt(choosen_month), choosen_year) + "/" + choosen_year);
                    getLateAndAbsences(id, from, to);
                }

            });

            $("#regular_working_days, #regular_minutes_late").change(function () {
                ComputeDeductions();
            });

            $("#regular_pera").change(function () {
                $(this).val(formatComma(roundOff($(this).val())));
                ComputeDeductions();
                ComputeTotalNetPay();
            });

            $("#regular_absent_date").datepicker().change(function () {

                var choosen_date = $("#regular_absent_date").val();

                var array_date = ($("#regular_absent_date_list").val().length === 0) ? [] : $("#regular_absent_date_list").val().split(',');


                var item = parseInt(choosen_date.split('/')[0]) + "/" + parseInt(choosen_date.split('/')[1]) + "/" + parseInt(choosen_date.split('/')[2]);

                var tr_id = $("#regular_date_list").children().length;

                var date_item = "<tr class = 'row-data'><td>";
                date_item += item;
                date_item += "</td><td><span class = 'glyphicon glyphicon-remove remove-date' id='" + tr_id + "' value = '"+tr_id+"' style = 'color:red;cursor:pointer;' ></span></td></tr>";

                array_date.push(item);

                $("#regular_date_list").append(date_item);
                $("#regular_absent_date_list").val(array_date);
                $("#regular_absent_date").val("");

                ComputeDeductions();
                ComputeTotalNetPay();
            });

            $(".row-data").on("click", ".remove-date", function () {
                alert("ASDSDADSADSD");
            });
        });

        function setEnableDeductions(type, enable) {
            $("#regular_" + type + "").attr("readonly", enable);
            $("#regular_" + type + "_payment").attr("readonly", enable);
            $("#regular_" + type + "_paid").attr("readonly", enable);
        }

        function setEnableDeductions(enable) {

            var array_type = [];
            array_type.push($("#edit_cfi").val());
            array_type.push($("#edit_gsis_consoloan").val());
            array_type.push($("#edit_policyloan").val());
            array_type.push($("#edit_gsis_eml").val());
            array_type.push($("#edit_gsis_uoli").val());
            array_type.push($("#edit_gsis_edu").val());
            array_type.push($("#edit_gsis_help").val());
            array_type.push($("#edit_rel").val());
            array_type.push($("#edit_pagibig_loan").val());
            array_type.push($("#edit_pagibig_mp2").val());
            array_type.push($("#edit_simc").val());
            array_type.push($("#edit_coop").val());
            array_type.push($("#edit_dbp").val());
            array_type.push($("#edit_disallowance").val());

            for(var type in array_type){
                $("#regular_" + type + "").attr("readonly", enable);
                $("#regular_" + type + "_payment").attr("readonly", enable);
                $("#regular_" + type + "_paid").attr("readonly", enable);
            }
        }

        function loadRegularPayrollList(page,empID,firstname,lastname) {


            var url = "@Url.Action("RegularPayrollList", "PartialView")";

            alert(page +" "+empID+" "+firstname+" "+lastname);
            $(".parent-payroll-list").html("Loading data ...");

            $.ajax({
                url: url,
                type: "POST",
                data: {
                    page: page,
                    empID:empID,
                    firstname: firstname,
                    lastname: lastname,
                    middlename:""
                },
                success: function (html) {
                    $(".parent-payroll-list").html(html);
                }
            });
        }

        function removeItem(id) {
            alert('hd');

                var tr = $("#" + id).closest('tr');
                var value = tr.find('td:eq(0)').text();

                tr.remove();

                var array_date = $("#regular_absent_date_list").val().split(',');


                for (var i = array_date.length - 1; i >= 0; i--) {

                    if (array_date[i] === value) {
                        array_date.splice(i, 1);
                        break;
                    }
                }

                $("#regular_absent_date_list").val(array_date);

                ComputeDeductions();
                ComputeTotalNetPay();

            }

            function clearRegularForm() {
                $("#regular_pera").val("0.00");
                $("#regular_minutes_late").val("0");
                $("#regular_absent_date_list").val("");
                $("#regular_date_list").empty();
                $("#regular_deduction").val("0.00");
                $("#regular_net_amount").val("0.00");
                $("#regular_total_deduction").val("0.00");
                $("#regular_total_amount").val("0.00");

            }

            function getLateAndAbsences(id, from, to)
            {
                $("#jo_create_payroll :input").attr("disabled", true);
                $(".create_payroll_spinner").removeClass("hidden");

                var url = "@Url.Action("GetMins","Home")";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data:
                        {
                            "id": id,
                            "from":from,
                            "am_in": "08:00:00",
                            "am_out": "12:00:00",
                            "pm_in": "13:00:00",
                            "pm_out": "17:00:00",
                            "to": to
                        },
                    success: function (data) {
                        var array_date = [];
                        $("#jo_date_list").empty();
                        $("#jo_absent_date_list").val("");

                        var minutes_late = data.split(" ")[0];
                        var working_days = data.split(" ")[1];
                        var no_days_absent = data.split(" ")[2];

                        $("#regular_working_days").val(working_days);

                        ComputeDeductions();
                        ComputeTotalNetPay();

                        $(".create_payroll_spinner").addClass("hidden");
                        $("#jo_create_payroll :input").attr("disabled", false);

                    }
                });
            }

            function ComputeDeductions() {

                var salary = $("#regular_salary").val().replace(/,/g, '');
                var working_days = $("#regular_working_days").val().replace(/,/g, '');
                var minutes_late = $("#regular_minutes_late").val().replace(/,/g, '');
                var no_days_absent = ($("#regular_absent_date_list").val().length >= 4) ? $("#regular_absent_date_list").val().split(",").length : 0;
                var pera = $("#regular_pera").val().replace(/,/g, '');
                var deduction = "0.00";

                deduction = ((+minutes_late + (480 * +no_days_absent)) * (((+salary / +working_days) / 8) / 60));

                if (isNaN(deduction) || !isFinite(deduction)) {
                    deduction = "0.00";
                }

                deduction = roundOff(deduction);
                $("#regular_deduction").val(formatComma(deduction));


                var net_amount = 0.00;
                net_amount = ((parseFloat(salary)) + parseFloat(pera)) - deduction;
                net_amount = roundOff(net_amount);

                $("#regular_net_amount").val(formatComma(net_amount));

            }

            function ComputeTotalNetPay() {

                var regular_tax = $("#regular_tax").val().replace(/,/g, '');
                var regular_cfi = $("#regular_cfi").val().replace(/,/g, '');
                var regular_gsis_premium = $("#regular_gsis_premium").val().replace(/,/g, '');
                var regular_gsis_consoloan = $("#regular_gsis_consoloan").val().replace(/,/g, '');
                var regular_gsis_policyloan = $("#regular_gsis_policyloan").val().replace(/,/g, '');
                var regular_gsis_eml = $("#regular_gsis_eml").val().replace(/,/g, '');
                var regular_gsis_uoli = $("#regular_gsis_uoli").val().replace(/,/g, '');
                var regular_gsis_edu = $("#regular_gsis_edu").val().replace(/,/g, '');
                var regular_gsis_help = $("#regular_gsis_help").val().replace(/,/g, '');
                var regular_gsis_rel = $("#regular_gsis_rel").val().replace(/,/g, '');
                var regular_pagibig_premium = $("#regular_pagibig_premium").val().replace(/,/g, '');
                var regular_pagibig_loan = $("#regular_pagibig_loan").val().replace(/,/g, '');
                var regular_pagibig_mp2 = $("#regular_pagibig_mp2").val().replace(/,/g, '');
                var regular_philhealth = $("#regular_philhealth").val().replace(/,/g, '');
                var regular_simc = $("#regular_simc").val().replace(/,/g, '');
                var regular_coop = $("#regular_coop").val().replace(/,/g, '');
                var regular_dbp = $("#regular_dbp").val().replace(/,/g, '');
                var regular_disallowance = $("#regular_disallowance").val().replace(/,/g, '');

                var regular_net_amount = $("#regular_net_amount").val().replace(/,/g, '');

                var total_deductions = roundOff(parseFloat(regular_tax) + parseFloat(regular_cfi) + parseFloat(regular_gsis_premium) + parseFloat(regular_gsis_consoloan) + parseFloat(regular_gsis_policyloan) +
                    parseFloat(regular_gsis_eml) + parseFloat(regular_gsis_uoli) + parseFloat(regular_gsis_edu) + parseFloat(regular_gsis_help) + parseFloat(regular_gsis_rel) + parseFloat(regular_pagibig_premium) +
                    parseFloat(regular_pagibig_loan) + parseFloat(regular_pagibig_mp2) + parseFloat(regular_philhealth) + parseFloat(regular_simc) + parseFloat(regular_coop) + parseFloat(regular_dbp) +
                    parseFloat(regular_disallowance));

                var total_amount = roundOff(parseFloat(regular_net_amount)  - total_deductions);

                $("#regular_total_deductions").val(formatComma(total_deductions));
                $("#regular_total_amount").val(formatComma(total_amount));

            }


            function loadRegularPayrollList(empID,firstname,lastname,middlename) {
                var url = "@Url.Action("RegularPayrollList", "PartialView")";
                $(".parent-payroll-list").html("Loading data ...");
                $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        page: 1,
                        empID: empID,
                        firstname: firstname,
                        lastname: lastname,
                        middlename: middlename
                    },
                    success: function (html) {
                        $(".parent-payroll-list").html(html);
                    }
                });
            }
     </script>
}